<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.borolo.repository.DepositDao">

    <select id="findByRenterUserId" resultType="com.example.borolo.dto.response.DepositResponseDto">
        SELECT 
            D.deposit_id, D.amount, D.deposit_status, D.rental_id,
            I.title AS item_title,
            U.nick_name AS counterparty_nick_name
        FROM Deposit D
        JOIN Rental R ON D.rental_id = R.rental_id
        JOIN Item I ON R.item_id = I.item_id
        JOIN "User" U ON I.user_id = U.user_id
        WHERE R.user_id = #{user_id}
    </select>

    <select id="findByItemOwnerId" resultType="com.example.borolo.dto.response.DepositResponseDto">
        SELECT 
            D.deposit_id, D.amount, D.deposit_status, D.rental_id,
            I.title AS item_title,
            U.nick_name AS counterparty_nick_name
        FROM Deposit D
        JOIN Rental R ON D.rental_id = R.rental_id
        JOIN Item I ON R.item_id = I.item_id
        JOIN "User" U ON R.user_id = U.user_id
        WHERE I.user_id = #{user_id}
    </select>

</mapper>