<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.borolo.repository.FavoriteDao">
	<!-- 즐겨찾기 등록한 item_id 조회 API -->
	<select id="findFavoriteItemIdsByUserId" parameterType="java.lang.Integer" resultType="java.lang.Integer">
	    SELECT item_id
	    FROM favorite
	    WHERE user_id = #{userId}
	</select>
    
	<!-- 즐겨찾기 등록 API -->
    <insert id="insertFavorite">
        INSERT INTO Favorite (user_id, item_id, created_at)
        VALUES (#{user_id}, #{item_id}, SYSDATE )
    </insert>
	<!-- 즐겨찾기 삭제 API -->
    <delete id="deleteFavorite">
        DELETE FROM Favorite WHERE user_id = #{user_id} AND item_id = #{item_id}
    </delete>

    <select id="exists" resultType="java.lang.Boolean">
	  SELECT CASE 
	           WHEN EXISTS (SELECT 1 FROM Favorite WHERE user_id = #{user_id} AND item_id = #{item_id}) 
	           THEN 1 ELSE 0 
	         END AS exists_flag 
	  FROM dual
    </select>
    
	<!-- 즐겨찾기 등록 수 찾기 api-->
	<select id="existsByUserIdAndItemId" parameterType="map" resultType="int">
	    SELECT COUNT(*) 
	    FROM favorite 
	    WHERE user_id = #{userId} 
	      AND item_id = #{itemId}
	</select>

</mapper>