<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.borolo.repository.FavoriteDao">

    <select id="findFavoritesByUserId" resultType="com.example.borolo.domain.Item">
        SELECT I.* FROM Favorite F
        JOIN Item I ON F.item_id = I.item_id
        WHERE F.user_id = #{user_id}
    </select>

    <insert id="insertFavorite">
        INSERT INTO Favorite (user_id, item_id, created_at)
        VALUES (#{user_id}, #{item_id}, NOW())
    </insert>

    <delete id="deleteFavorite">
        DELETE FROM Favorite WHERE user_id = #{user_id} AND item_id = #{item_id}
    </delete>

    <select id="exists" resultType="java.lang.Boolean">
        SELECT EXISTS (
            SELECT 1 FROM Favorite WHERE user_id = #{user_id} AND item_id = #{item_id}
        )
    </select>

</mapper>