<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.borolo.repository.ReportDao">

    <select id="findById" resultType="com.example.borolo.domain.Report">
        SELECT * FROM Report WHERE report_id = #{report_id}
    </select>

    <select id="findByReporterId" resultType="com.example.borolo.domain.Report">
        SELECT * FROM Report WHERE reporter_id = #{reporter_id}
    </select>
    
    <select id="findAll" resultType="com.example.borolo.domain.Report">
		    SELECT * FROM Report ORDER BY created_at DESC
	</select>

    <insert id="insert" parameterType="com.example.borolo.domain.Report">
        INSERT INTO Report (reporter_id, target_user_id, rental_id, reason, created_at)
        VALUES (#{reporter_id}, #{target_user_id}, #{rental_id}, #{reason}, NOW())
    </insert>

</mapper>