<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.borolo.repository.ReviewDao">
	<!-- 받은 후기 조회 API -->
    <select id="findByUserTargetId" resultType="com.example.borolo.dto.response.ReviewResponseDto">
	    SELECT 
	        r.review_id,
	        r.content,
	        r.rating,
	        r.created_at,
	        i.title AS item_title,
	        TO_CHAR(SYSDATE - r.created_at) AS days_ago
	    FROM Review r
	    JOIN Rental rent ON r.rental_id = rent.rental_id
	    JOIN Item i ON rent.item_id = i.item_id
	    WHERE r.user_target_id = #{user_target_id}
	    ORDER BY r.created_at DESC
     </select>

	<!-- 쓴 후기 조회 API -->
    <select id="findByUserWriteId" resultType="com.example.borolo.dto.response.ReviewResponseDto">
    	SELECT 
	        r.review_id,
	        r.content,
	        r.rating,
	        r.created_at,
	        i.title AS item_title,
	        TO_CHAR(SYSDATE - r.created_at) AS days_ago
	    FROM Review r
	    JOIN Rental rent ON r.rental_id = rent.rental_id
	    JOIN Item i ON rent.item_id = i.item_id
	    WHERE r.user_write_id = #{user_write_id}
	    ORDER BY r.created_at DESC
    </select>

    <select id="findByRentalId" resultType="com.example.borolo.domain.Review">
        SELECT * FROM Review WHERE rental_id = #{rental_id}
    </select>
    
	<!-- 리뷰등록 API -->
	 <insert id="insert" parameterType="com.example.borolo.domain.Review">
	    INSERT INTO Review (content, rating, rental_id, user_write_id, user_target_id, created_at)
	    VALUES (#{content}, #{rating}, #{rental_id}, #{user_write_id}, #{user_target_id}, SYSDATE)
	</insert>

</mapper>