<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.borolo.repository.UserDao">

    <insert id="insert" parameterType="com.example.borolo.domain.User">
        INSERT INTO users (
            email, password, real_name, nick_name,
            birth_date, rating, create_time
        ) VALUES (
            #{email}, #{password}, #{real_name}, #{nick_name},
            #{birth_date}, #{rating}, #{create_time}
        )
    </insert>

    <select id="findByEmail" resultType="com.example.borolo.domain.User">
        SELECT * FROM users WHERE email = #{email}
    </select>

    <select id="findByNickName" resultType="com.example.borolo.domain.User">
        SELECT * FROM users WHERE nick_name = #{nick_name}
    </select>

    <select id="findById" resultType="com.example.borolo.domain.User">
        SELECT * FROM users WHERE user_id = #{user_id}
    </select>

    <update id="update" parameterType="com.example.borolo.domain.User">
        UPDATE users SET
            password = #{password},
            real_name = #{real_name},
            nick_name = #{nick_name},
            email = #{email},
            birth_date = #{birth_date},
            rating = #{rating},
            create_time = #{create_time},
        WHERE user_id = #{user_id}
    </update>
    
	<!-- 비밀번호 재설정 API -->
    <update id="updatePassword">
        UPDATE users
        SET password = #{password, jdbcType=VARCHAR}
        WHERE email = #{email}
    </update>

	<!-- 회원 탈퇴 -->
	<delete id="deleteUser" parameterType="int">
        DELETE FROM users u
	    WHERE u.user_id = #{user_id}
	      AND NOT EXISTS (
	        SELECT 1 FROM item i
	        WHERE i.user_id = u.user_id
	          AND i.item_status = '대여중'
	      )
	      AND NOT EXISTS (
	        SELECT 1 FROM rental r
	        WHERE r.user_id = u.user_id
	          AND r.rental_status = '대여중'
	      )
	</delete>
</mapper>