<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.borolo.repository.UserLocationDao">

    <select id="findByUserId" resultType="com.example.borolo.domain.UserLocation">
        SELECT * FROM UserLocation WHERE user_id = #{user_id}
    </select>

    <insert id="insert" parameterType="com.example.borolo.domain.UserLocation">
        INSERT INTO UserLocation (user_id, lat, lng, is_manual, updateTime)
        VALUES (#{user_id}, #{lat}, #{lng}, #{is_manual}, NOW())
    </insert>

    <update id="update" parameterType="com.example.borolo.domain.UserLocation">
        UPDATE UserLocation
        SET lat = #{lat},
            lng = #{lng},
            is_manual = #{is_manual},
            updateTime = NOW()
        WHERE user_id = #{user_id}
    </update>

</mapper>