<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.borolo.repository.UserDao">

    <insert id="insert" parameterType="com.example.borolo.domain.User">
        INSERT INTO user (
            email, password, real_name, nick_name,
            birth_date, rating, create_time, is_deleted
        ) VALUES (
            #{email}, #{password}, #{real_name}, #{nick_name},
            #{birth_date}, #{rating}, #{create_time}, #{is_deleted}
        )
    </insert>

    <select id="findByEmail" resultType="com.example.borolo.domain.User">
        SELECT * FROM user WHERE email = #{email}
    </select>

    <select id="findByNickName" resultType="com.example.borolo.domain.User">
        SELECT * FROM user WHERE nick_name = #{nick_name}
    </select>

    <select id="findById" resultType="com.example.borolo.domain.User">
        SELECT * FROM user WHERE user_id = #{user_id}
    </select>

    <update id="update" parameterType="com.example.borolo.domain.User">
        UPDATE user SET
            password = #{password},
            real_name = #{real_name},
            nick_name = #{nick_name},
            email = #{email},
            birth_date = #{birth_date},
            rating = #{rating},
            create_time = #{create_time},
            is_deleted = #{is_deleted}
        WHERE user_id = #{user_id}
    </update>

    <update id="updatePassword">
        UPDATE user
        SET password = #{password}
        WHERE email = #{email}
    </update>

</mapper>